<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.mapper.DatumnMapper">
    <resultMap id="BaseResultMap" type="com.manager.entity.DatumEntity">
        <result column="datumnno" jdbcType="VARCHAR" property="datumnno"/>
        <result column="datumnname" jdbcType="VARCHAR" property="datumnname"/>
        <result column="hiredate" jdbcType="DATE" property="hiredate"/>
        <result column="dacount" jdbcType="VARCHAR" property="dacount"/>
        <result column="daclass" jdbcType="VARCHAR" property="daclass"/>
        <result column="dastatu" jdbcType="VARCHAR" property="dastatu"/>
    </resultMap>
    <sql id="Base_Column_List">
    datumnno,datumnname,hiredate,dacount,daclass,dastatu
</sql>
    <select id="findByNo" resultType="com.manager.entity.DatumEntity" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from datumninfo
        where 1=1
        <if test="_parameter != null and _parameter !=''">
            and datumnno=#{_parameter}
        </if>
        <if test="_parameter != null and _parameter !=''">
            or datumnname=#{_parameter}
        </if>
    </select>
    <select id="findAll" resultType="com.manager.entity.DatumEntity" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from datumninfo
        where 1=1
    </select>

</mapper>
