<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.manager.mapper.StaffMapper">
    <resultMap id="BaseResultMap" type="com.manager.entity.StaffEntity">
        <result column="staffno" jdbcType="VARCHAR" property="staffno"/>
        <result column="staffname" jdbcType="VARCHAR" property="staffname"/>
        <result column="hiredate" jdbcType="DATE" property="hiredate"/>
        <result column="stcount" jdbcType="VARCHAR" property="stcount"/>
        <result column="stclass" jdbcType="VARCHAR" property="stclass"/>
        <result column="statu" jdbcType="VARCHAR" property="statu"/>
    </resultMap>
    <sql id="Base_Column_List">
    staffno,staffname,hiredate,stcount,stclass,statu
</sql>
    <select id="findByNo" resultType="com.manager.entity.StaffEntity" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from staffinfo
        where 1=1
        <if test="_parameter != null and _parameter !=''">
            and staffno=#{_parameter}
        </if>
        <if test="_parameter != null and _parameter !=''">
            or staffname=#{_parameter}
        </if>
    </select>
    <select id="findAll" resultType="com.manager.entity.StaffEntity" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List" />
        from staffinfo
        where 1=1
    </select>

</mapper>
